.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #fff;
  border-radius: 10px;
  /* box-shadow: 1px 1px 3px #ccc; */
  margin: 1em;
  width: fit-content;
  padding: 1em;
  text-align: center;
  min-height: 100px;
  min-width: 100px;
}
